.header {
    display: flex;
    align-items: center;
}

.hidden {
    opacity: 0;
}

/* Fades in yellow line */
.fade-in1 {
    animation: fadeIn 1.2s ease-in;
}

/* Fades in name after yellow line */
.fade-in2 {
    animation: fadeIn 1s ease-in;
    animation-delay: 1.5s;
}

/* Fades in subheader and button after
    yellow line and name 
*/
.fade-in3 {
    animation: fadeIn 1s ease-in;
    animation-delay: 1.75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}