/* Document Settings */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* This white is a little easier on the eyes */
  background: #eee;
}

/* *********/

/* Container Settings */
.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper > div:nth-last-child(even) {
  background: #333333;
  color: #fff;
}

.wrapper > div:nth-last-child(odd) {
  /* background: #eee; */
  color: #333333;
}

/* ********** */
/* General Settings */

.content {
  padding: 1em;
  user-select: none;
}

.title {
  font-size: 2.5em;
  padding: .75em;
  letter-spacing: 3px;
  font-family: Courier New, Courier, monospace;
}

.link {
  text-decoration: none;
  color: #44883e;
  font-weight: bold;
}

.link:visited {
  text-decoration: none;
  color: #44883e;
  font-weight: bold;
}

/* These are the shadows used in the banner
  button(s), the skillset and project cards */
.shadow {
  /* Add shadows to create the "depth" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.25s;
}

/* On mouse-over or click, add a deeper shadow */
.shadow:hover,
.shadow:active {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
}

/* ***** */
/* HEADER */

.header {
  grid-column: 1 / -1;
  min-height: 680px;
  font-size: 2em;
}

.header hr {
  border: none;
  height: 3px;
  background-color: #f7df1e;
  margin: 10px 10px;
}

.header h5 {
  font-style: italic;
}

a.btn {
  text-decoration: none;
  display: inline-block;
  background-color: #44883e;
  color: #fff;
  border: 2px solid #fff;
  padding: .3em;
  margin-top: 1em;
  letter-spacing: 1px;
  font-family: Courier New, Courier, monospace;
}

/* ****** */
/* ABOUT ME  */

.about-me {
  grid-column: 1 / -1;
  font-size: 1em;
  line-height: 28px;
}

.headshot {
  border-radius: 50%;
  /* For small screen */
  width: 145px;
  height: 135px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}

.about-me p {
  margin: 1em;
}

.js {
  background-color: #f7df1e;
  color: #000;
  border: 2px solid #333;
  padding: .20em;
  font-weight: bold;
  border-radius: 4px;
}

.npm {
  background-color: #cb3837;
  border: 2px solid #cb3837;
  color: #fff;
  padding: .15em;
  font-weight: bold;
  letter-spacing: 2.25px;
  border-radius: 3px;
  font-family: Courier New, Courier, monospace;
}

.node {
  background-color: #44883e;
  border: 2px solid #333;
  color: #fff;
  padding: .20em;
  font-weight: bold;
  border-radius: 3px;
  letter-spacing: 1px;
}

#github-link {
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: .20em;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  /* font-style: italic; */
}

#github-link:hover,
#github-link:active {
  background-color: #555;
}


/* ********* */
/* SKILLS */

.skills {
  grid-column: 1 / -1;
}

.skillset {
  margin: 1.5em;
  background-color: #fff;
  transition: 0.3s;
}

.skillset .skillset-title {
  padding: .5em;
  font-size: 2em;
  color: #fff;
  background-color: #44883e;
  font-family: Courier New, Courier, monospace;
}

.skillset .skillset-body {
  letter-spacing: 1px;
  background-color: inherit;
  color: #333;
  padding: 1em;
}

ul li {
  list-style: none;
  line-height: 1.5em;
}

/* Only add this to the li's in the skillset section */
.skillset ul li:before {
  content: "• ";
}

/* ******* */
/* PORTFOLIO */

.portfolio {
  grid-column: 1 / -1;
  /* height: 20em; */
}

.portfolio p.message {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  color: #44883e;
  padding: .5em;
  border-radius: 10px;
}

.project {
  transition: 0.3s;
  background-color: #44883e;
  margin: 2em;
}

.project img {
  width: 100%;
}

.project-title {
  padding: 5px 16px 10px;
  background-color: inherit;
  color: #fff;
  font-family: Courier New, Courier, monospace;
  font-size: 25px;
}

/* ******** */
/* CONTACT */

.contact {
  grid-column: 1 / -1;
}

.contact ul li {
  letter-spacing: 1px;
  display: inline-block;
  font-size: 3.5em;
  padding-right: .25em;
  padding-left: .25em;

}

.contact ul li a {
  text-decoration: none;
  color: #fff;
}

.contact ul li a:visited {
  text-decoration: none;
  color: #fff;
}

/* ******** */
/* FOOTER */

.footer {
  grid-column: 1 / -1;
  background: #000;
}

.footer .content p {
  color: #fff;
  font-style: italic;
  font-size: 15px;
}

.footer .content span {
  color: #fff;
  font-size: 10px;
}


/* Media Queries */

/* For Mobile Devices with larger screens (iPhone X not included) */
@media screen and (max-width: 420px) and (min-width: 412px) {
  .header {
    min-height: 745px;
  }
}

/* Just for iPhone X */
@media screen and (min-width: 374px) and (min-height: 811px) and
(max-width:375px) and (max-height:812px) {
  .header {
    min-height: 815px;
  }
}

/* For screens between 1000 and 700 pixels wide */
@media screen and (max-width: 1000px) and (min-width: 700px) {
  .content {
    font-size: 1.15em;
  }

  .header {
    min-height: 450px;
  }

  /* The about-btn is only really needed
    on mobile screens where the header takes
    up the entire screen
  */
  #about-btn{
    display: none;
  }

  .about-me {
    grid-column: 2 / 12;
    font-size: 1.25em;
    line-height: 40px;
  }

  .headshot {
    /* For larger screen */
    width: 210px;
    height: 200px;
  }
}

/* For screens over 1001 pixels wide */
@media screen and (min-width: 1001px) {
  .content {
    font-size: 1.15em;
  }

  .flex-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header {
    min-height: 450px;
  }

  /* The about-btn is only really needed
    on mobile screens where the header takes
    up the entire screen
  */
  #about-btn{
    display: none;
  }

  .content .title {
    font-size: 2.5em;
  }

  .about-me {
    grid-column: 3 / 11;
    font-size: 1.25em;
    line-height: 40px;
  }

  .headshot {
    /* For larger screen */
    width: 240px;
    height: 220px;
  }

  .skillset {
    flex: 1;
  }
}